# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store

# Coverage
.coverage
htmlcov/

# Build
build/
dist/

# Docker
docker-data/